.App {
  text-align: center;
}

.playingCards {
  width: 1000px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.rank {
  text-transform: uppercase;
}

.btn {
  display: block;
  margin: 20px auto;
}